*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
oneKeyShare/build/intermediates/bundles/debug
oneKeyShare/build
*.class
shareSDKmainLibs/build
*.apk
